# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Django
db.sqlite3
db.sqlite4
/static/
/media/
.env

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
*.log